body {
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  height: 100%;
  width: 100%;
}


.container{

    text-align: center;
    justify-content: center;
    background-color: rgb(12, 1, 43);
    border: 1px solid black;
    max-width: 50rem;
    margin: 20%;
    
    
}

@media (min-width:102px)
{
    .container{
        margin-top: 10%;
        margin-left: 23%;
    }
    
}

@media (min-width:102px) and (max-width:540px)
{
    #username , #password{
        font-size: larger;
    }
}

button, #username , #password{
    margin-bottom: 2vh;
    min-height: 30%;
    min-width: 10%;
    height: 3rem;
    width: 15rem;
    
}

button{
    min-width: 5rem;
    min-height: 2rem;
    width: 5rem;
}
button:hover{
    text-decoration: underline;
    cursor: pointer;
}

p,h1{
    color: aquamarine;
}
p{
    text-indent: 18%;
    text-decoration: underline;
}
p:hover{
    cursor: pointer;
}
a:link {
    color: rgb(221, 89, 23); 
}
